.millie {
    width: 100%;
    height: auto;
    display: block;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    color: #fab9ef;
    opacity: 0.9;
}


nav {
    width: 100vw;
    height: 100px;
    background-color: #f7cdd0;
    font-size: 3rem;
    font-family: 'Abril Fatface', cursive;
    position: relative;
    top: 15px;
}
img {
    display: inline;
    width: 115px;
    height: 120px;
}

li {
    display: inline;
    margin: 0px 100px 0px 0px;
    float: left;
}

li :hover {
    background: #bea29d;
    color: #f7cdd0;
}

.nav {
    margin-top: 1%;
    /* margin: 40px 65px 0px 0px; */
}
h1{
    font-family: 'Abril Fatface', cursive;
}
h2{
    font-family: 'Abril Fatface', cursive;
    text-align: center;
}
p{
    font-family: 'Abril Fatface', cursive;
}

*{
    box-sizing: border-box;
  }
  .column {
    float: left;
    width: 10%;
    padding: 5px;
    margin: 0px 180px 0px 0px;
    float: right;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .last {
    margin-bottom: 90px;
}

footer {
    text-align: center;
    padding: 3px;
    font-family: 'Abril Fatface', cursive;
    background-color: #f7cdd0;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}