img {
    display: inline;
}

nav {
    width: 100vw;
    height: 100px;
    background-color: rgba(255, 6, 130, 0.486);
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
    
}

li {
    display: inline;
    margin: 0px 50px 0px 0px;
    float: left;
}

li :hover {
    background: rgba(255, 195, 249, 0.336);
    color: rgb(255, 0, 255)
}

.nav {
    /* margin-top: 3%; */
    margin: 40px 65px 0px 0px;
}
